<h2>Bidding Case specialists</h2>
<h1> {{selTeam}}</h1>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Ambati Rayudu</li>
    <li class="list-group-item">Chaitanya Bishnoi</li>
    <li class="list-group-item">Deepak Chahar</li>
    <li class="list-group-item">Dhruv Shorey</li>
    <li class="list-group-item">Dwayne Bravo</li>
    <li class="list-group-item">Faf du Plessis</li>
    <li class="list-group-item">Harbhajan Singh</li>
    <li class="list-group-item">Imran Tahir</li>
    <li class="list-group-item">Kanishk Seth</li>
    <li class="list-group-item">Karn Sharma</li>
    <li class="list-group-item">Kedar Jadhav</li>
    <li class="list-group-item">KM Asif</li>
    <li class="list-group-item">Kshitiz Sharma</li>
    <li class="list-group-item">Lungi Ngidi</li>
    <li class="list-group-item">Mark Wood</li>
    <li class="list-group-item">Mitchell Santner</li>
    <li class="list-group-item">Monu Kumar</li>
    <li class="list-group-item">MS Dhoni</li>
    <li class="list-group-item">Murali Vijay</li>
    <li class="list-group-item">Narayan Jagadeesan</li>
    <li class="list-group-item">Ravindra Jadeja</li>
    <li class="list-group-item">Sam Billings</li>
    <li class="list-group-item">Shane Watson</li>
  </ul>