<ol>
<li> Details of the customer </li>
<li> Details of the customer </li>
<li> Details of the customer </li>
</ol>


<table class="table">
  <tr>
    <td>{{p1.customerId}}</td>
    <td>{{p1.customerName}}</td>
    <td><img src="{{p1.image}}" class="img img-thumbnail"/></td>
  </tr>
  <tr>
    <td>{{p2.customerId}}</td>
    <td>{{p2.customerName}}</td>
    <td><img src="{{p2.image}}" class="img img-thumbnail"/></td>
  </tr>
</table>

<input type="button" value="Show Information" class="btn btn-success" (click)='getInformation()' />

{{info}}