<p>
  crud works!
</p>
<header></header>
<section>
  <form #frm='ngForm' (ngSubmit)="add(frm.value)">
    <div>
      <div class="form-group"><label class="col-form-label" for="">ID</label>
        <input name="id" [ngModel]='med.id' class="form-control" type="text" required>
      </div>
      <div class="form-group">
        <label class="col-form-label" for="">Medicine Name</label>
        <input name="name" [ngModel]='med.name' class="form-control" type="text" required>
      </div>
      <div class="form-group">
        <label class="col-form-label" for="">Category</label>
        <input name="category" [ngModel]='med.category' class="form-control" type="text" required>
      </div>
      <div class="form-group">
        <label class="col-form-label" for="">Mfgby</label>
        <input name="mfgby" [ngModel]='med.mfgby' class="form-control" type="text" required>
      </div>
      <div class="form-group">
        <label class="col-form-label" for="">RatePerUnit</label>
        <input name="ratePerUnit" [ngModel]='med.ratePerUnit' class="form-control" type="text" required>
      </div>
      <div class="form-group">
        <label class="col-form-label" for=""></label>
        <input class="form-control" class="btn btn-success" value="Add Medicine" type="submit">
      </div>
    </div>
  </form>
  <br>
  <hr />
  <input class="form-control form-control-lg" [(ngModel)]='searchCondition' type="text" placeholder="search ...">
  <hr />
<table class='table table-bordered'>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Category</th>
    <th>Mfgby</th>
    <th>RatePerUnit</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let eachMed of medList | filterMed:'id':searchCondition">
    <td>{{eachMed.id}}</td>
    <td>{{eachMed.name}}</td>
    <td>{{eachMed.category}}</td>
    <td>{{eachMed.mfgby}}</td>
    <td>{{eachMed.ratePerUnit | currency:'USD'}}</td>
    <td><input type="button" (click)='edit(eachMed.id)' class="btn btn-sm btn-outline-info" value="Edit"> </td>
    <td><input type="button" (click)='remove(eachMed.id)' class="btn btn-sm btn-outline-danger" value="Delete"></td>
  </tr>
</table>
</section>
<footer>
<h1 appInnerText addText="Copyrighted"></h1>
</footer>
