<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img class="img img-thumbnail" width="300" alt="Angular Logo" src="https://cdn.iconscout.com/public/images/icon/free/png-512/sport-game-batsman-cricket-player-bat-ball-pad-gloves-helmet-323fc93445fffea8-512x512.png">
</div>

<hr />
<ol>
  <!-- <span style="padding: 10px; margin:10px; background-color: whitesmoke"><a [routerLink]="['/players/CSK']" href="">PlayersCheaters</a></span> -->
  <span style="padding: 10px; margin:10px; background-color: whitesmoke"><a [routerLink]="['/umpire']" href="">UmpireFrauds</a></span>
  <span style="padding: 10px; margin:10px; background-color: whitesmoke"><a [routerLink]="['/sponsors/golden']" href="">SponsorsTaxCheaters</a></span>
  <span style="padding: 10px; margin:10px; background-color: whitesmoke"><a [routerLink]="['/players/CSK']" href="">CSK</a></span>
  <span style="padding: 10px; margin:10px; background-color: whitesmoke"><a [routerLink]="['/players/RCB']" href="">RCB</a></span>
</ol>
<hr />
<router-outlet></router-outlet>