
<!-- <input type="button" value="Load Hotels" (click)='LoadHotels()'> -->
<!-- <app-reviews [fromParent]=toChild></app-reviews> -->
<!-- <app-reviews *ngFor='let hotel of hotelList'[hotelName]='hotel'></app-reviews> -->
<app-menu></app-menu>
<div *ngIf='menuItems!=undefined'>
  <button style="margin:20px" class='btn btn-success' *ngFor='let eachItem of menuItems' (click)='dynamicAdder(eachItem)'>
    {{eachItem | uppercase}}
  </button>
  </div>
  <hr/>
  <p *ngFor='let h of hotelList'>
    Hotel Name : {{h}}
  </p>
<input type="text" [(ngModel)]='hotelToReview' placeholder="Enter a hotel" />

<app-reviews [selectedHotel]='hotelToReview' (result) ='onchange($event)'></app-reviews>

<h1>{{rating}}</h1>
<h1 *ngIf='MessageHotel'>{{MessageHotel}}</h1>